
<!--<p>user-home works!</p>-->
<html>
    <head>
        <style>
            body{
                
                color: blanchedalmond;
                font-family: 'Courier New', Courier, monospace;
                padding: 80px;
            }
        </style>
    </head>
    <body>
        <div class="col-md-8 offset-md-3">  
            <div class="form-group" style="background-color: #88adfcfd;  border-radius: 5px 5px 5px 5px;">
            <div class="job-post-item p-4 d-block d-md-flex align-items-center">
                <div class="mb-5 mb-md-0 mr-10">
                    <div class="job-post-item-header d-flex align-items-center">
                        <h1 class="mr-3 text-black h4">Tree Plantation</h1>
                    </div>
                    <div>
                        <span style="color: white;">Planning to plant a tree over 1km of area for a green and clean environment.</span>
                    </div>
                    <div class="job-post-item-body d-block d-md-flex">
                        <div class="mr-3"><span>Date:</span></div>
                        <div><span>Time:</span></div>
                    </div>
                    <div class="job-post-item-body d-block d-md-flex">
                        <div class="mr-3"><span>Organised By: Google, Inc.</span></div>
                    </div>
                    <div class="job-post-item-body d-block d-md-flex">
                        <div><span>Location: Western City, UK</span></div>
                    </div>
                </div>
                <div class="ml-auto d-flex">
                    <a href="userty" class="btn btn-outline-light py-2 mr-1">Register</a>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>
